body {
	background-color: #f7f6ed;
}

.container {
	width: 80%;
	/*border: 20px solid #bdc3c7;*/
	font-family: 'Source Sans Pro', sans-serif;
	padding: 20px;
  	margin: 20px auto;
  	max-width: 900px;
  	font-size: 1.5em;
}


h2 {
	color: #2c3e50;
	font-size: 2.5rem;
}

hr {
    border: 0;
    border-top: 3px solid rgba(21, 34, 114, 0.9);
	border-bottom: 3px solid rgba(255, 255, 255, 0.3);
}

.post {
	padding-bottom: 20px;
}

.thumbnail {
    width: 30%;
    height: 30%;
    display: block;
    margin: auto auto;
}

